body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap; 
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.site-navigation a {
    display: block;
    padding-bottom: 20px;
    
    font-weight: 700;
    color: #000000;
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    min-height: 730px;
    margin:  0 auto;
    margin-top: -20px;
    padding: 0 auto;
    padding-bottom: 20px;

    background-image: url("img/intro.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.intro p{
    display: inline-block;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
    padding: 0px 15px 38px;

    color: #333333;
}

.intro #sed1 {
    font-weight: 700;
    font-size: 16px;
    padding-top: 58px;
}

.line {
    display: flex;
    flex-flow: row nowrap;
}

.advantages, .advantages-extra {
    display: flex;
    flex-flow: row nowrap;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantage-item {
    display: inline-block;
    width: 260px;
    height: auto;

    text-align: center;
    padding: 46px 70px 80px;

    background-color: #eeeeee;
}

.adv-item-special {
    width: 304px;

    padding: 48px 48px 83px;

    background-color: #81b3d2;

    color: #ffffff;
}

.advantages-extra li {
    display: inline-block;
    width: 400px;
    height: auto;

    padding: 60px 60px 83px;
    text-align: center;

    background-color: #ffffff;    
}

.advantage-item h3 {
    font-weight: bold;
    font-size: 21px;
}

.advantage-item span {
    position: relative;
}

.advantage-item span::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -50%;

    width: 9px;
    height: 2px;

    background-color: #000000;
}

.advantage-item span::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -50%;

    width: 9px;
    height: 2px;

    background-color: #000000;    
}

.adv-item-special span::before,
.adv-item-special span::after {
    background-color: #ffffff;
}

.hotels-sugestion {
    box-sizing: border-box;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 290px;
    text-align: center;
    border: 1px solid #ffffff;
}

.hotels-sugestion h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 55px auto 30px;
}

.footer {
    position: relative;
    width: 100%;
    height: 595px;
    margin: 0 0;
    padding: 0 0;
    
    background-image: url("img/map.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    z-index: 0;
}

.footer-info {
    position: absolute;
    min-height: 120px;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    /*background-color в rgba, чтобы потомки 
    не наследовали opacity*/
    background-color: rgba(256, 256, 256, 0.7);

    z-index: 1;
}

.tag {
    font-size: 21px;
    font-weight: 700;
}

.social ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    min-width: 150px;

    list-style-type: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.developed-by {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    min-width: 195px;
    font-size: 14px;
    font-weight: 300;
}

.modal {
    position: absolute;
    width: 570px;
    height: 484px;
    right: 320px;
    bottom: 200px;

    background-color:#ffffff;
}

.modal h3 {
    display: block;
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    background-color: #766357;
    font-size: 21px;
    color:  #ffffff;
    font-weight: 700px;
}

.hotels-form {
    display: block;
    box-sizing: border-box;
    margin: 55px;
    padding: 0;
}

.hotel-visitors {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.hotels-form-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.hotel-visitors .hotels-form-item:first-child {
    width: 227px;
}

.hotel-visitors .hotels-form-item:last-child {
    width: 183px;
}

.hotel-dates label,
.hotel-visitors label {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.hotel-dates input {
    box-sizing: border-box;
    width: 346px;
    height: 40px;
    padding-right: 40px;
    background-image: url("svg/calendar.svg");
    background-repeat: no-repeat;
    background-position: 316px;

    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
    border: none;
}

.hotel-visitors input {
    display: inline-block;
    width: 115px;
    height: 40px;

    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #f2f2f2;
    border: none;
}

.hotel-visitors input[type="number"]::-webkit-outer-spin-button,
.hotel-visitors input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
} 

.button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #81b3d2;
    border: none;
    
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;

    text-align: center;
    vertical-align: center;
}